#payment-instructions {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

#payment-instructions h2 {
    font-size: 18px;
    color: #333;
}

#payment-instructions ol {
    margin-bottom: 10px;
}

#payment-instructions li {
    margin-bottom: 5px;
}
